@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face{
    font-family: "kronaOne";
    src:local("Krona-One"),
    url('./src/assets/fonts/krona/KronaOne-Regular.ttf') 
  }
  @font-face{
    font-family: "NiramitBold";
    src:local("Niramit-Bold"),
    url('./src/assets/fonts/niramit/Niramit-Bold.ttf') 
  }
  @font-face{
    font-family: "NiramitReg";
    src:local("Niramit-Regular"),
    url('./src/assets/fonts/niramit/Niramit-Regular.ttf') 
  }
  body{
    margin:0
  }
  @import "tailwindcss";
  @tailwind base;
@tailwind components;
@tailwind utilities;
